<!-- page content -->
<div class="right_col" role="main" ng-init="getSensorHubDetails()">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Delete Sensors from Sensor Hub</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Sensor Hub <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select  id="sensorTypeRegion" name="sensorHub" class="select2_group form-control" ng-model="sensorHub" ng-options="name.SensorHubName as name.SensorHubName for name in sensorHubs">
                                </select>
                            </div>
                        </div>


                        <!--                        <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sensorType">Sensor Type <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <select id="sensorType" name="sensorType" class="form-control col-md-7 col-xs-12" ng-model="sensorType">
                                                            <option value="Temperature Sensor">Temperature Sensor</option>
                                                            <option value="Pressure Sensor">Pressure Sensor</option>
                                                            <option value="Salinity Sensor">Salinity Sensor</option>
                                                            <option value="Oxygen Sensor">Oxygen Sensor</option>
                                                        </select>
                                                    </div>
                                                </div>-->
                        <!--                        <div class="form-group">
                                                    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Region</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                                                    </div>
                                                </div>-->
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success" id="viewSensorHub" name="viewSensorHub" ng-click="viewSensorHubDetails()">View SensorHub Details</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>View Selected SensorHub Info </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">


                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">SensorCluster </th>
                                <th class="column-title">SensorId </th>
                                <th class="column-title">SensorType </th>
                                <th class="column-title">Region </th>
                                <th class="column-title">Status </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="even pointer" ng-repeat="sensor in sensorlist">
                                <td class=" ">{{sensor.SensorHubName}}</td>
                                <td class=" ">{{sensor.SensorId}}</td>
                                <td class=" ">{{sensor.SensorType}}</td>
                                <td class=" ">{{sensor.Region}}</td>
                                <td class=" ">{{sensor.Status}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="x_panel">
                <div class="x_title">
                    <h2>Delete Sensor Hub</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sensorhubname">Sensor Hub Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="sensorhubname" name="sensorhubname"  type="text"
                                        class="form-control col-md-7 col-xs-12" value={{sensorHub}} readonly>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success" id="deletesensorhub" name="deletesensorhub" ng-click="deleteSensorHub()">Delete Sensor Hub</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="resultsDetails">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Deleted Sensor Hub Details</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">SensorCluster </th>
                                <th class="column-title">SensorId </th>
                                <th class="column-title">SensorType </th>
                                <th class="column-title">Region </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="odd pointer" ng-repeat="sensor in deletedSensorlist">
                                <td class=" ">{{sensor.SensorHubName}}</td>
                                <td class=" ">{{sensor.SensorId}}</td>
                                <td class=" ">{{sensor.SensorType}}</td>
                                <td class=" ">{{sensor.Region}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>